<html
    xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
    xmlns:rd="http://typo3.org/ns/RD/ErrorLog/ViewHelpers" xmlns="http://www.w3.org/1999/html"
    data-namespace-typo3-fluid="true">
<f:layout name="Default"/>
<f:section name="Content">
    <div class="row">
        <h1>
            <f:translate key="errors.view.error_log"/>
        </h1>
        <div class="row">
            <div class="col-md-12">
                <table class="table table-striped table-bordered">
                    <tbody>
                    <tr>
                        <td><strong>
                            <f:translate key="errors.view.message"/>
                        </strong></td>
                        <td>{error.message}</td>
                    </tr>
                    <f:if condition="{error.code} != '0'">
                        <tr>
                            <td><strong>
                                <f:translate key="errors.view.code"/>
                            </strong></td>
                            <td>{error.code}
                                <a style="color: blue" target="_blank"
                                   href="https://docs.typo3.org/m/typo3/reference-exceptions/main/en-us/Exceptions/{error.code}.html">Open
                                    <f:translate key="errors.view.typo3_reference"/>
                                </a>
                            </td>
                        </tr>
                    </f:if>
                    <tr>
                        <td><strong>
                            <f:translate key="errors.view.file_line"/>
                        </strong></td>
                        <td>{error.file}:{error.line}</td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div class="c-divider"></div>
    <f:if condition="{settings.openaiEnable}">
        <f:then>
            <ul class="nav nav-tabs t3js-tabs mb-3" role="tablist" id="tabs-DTM-errorlog-view" data-store-last-tab="1">
                <li role="presentation" class="t3js-tabmenu-item nav-item">
                    <a href="#DTM-errorlog-view-1" class="nav-link active" title="" aria-controls="DTM-errorlog-view-1"
                       role="tab" data-bs-toggle="tab" aria-selected="false">
                        <f:translate key="errors.tab_trace"/>
                    </a>
                </li>
                <li role="presentation" class="t3js-tabmenu-item nav-item">
                    <a href="#DTM-errorlog-view-2" class="nav-link" title="" aria-controls="DTM-errorlog-view-2"
                       role="tab" data-bs-toggle="tab" aria-selected="true">
                        <f:translate key="errors.tab_ai"/>
                    </a>
                </li>
            </ul>

            <div class="tab-content">
                <div role="tabpanel" class="tab-pane active show" id="DTM-errorlog-view-1">
                    <f:render partial="Trace" arguments="{_all}"/>
                    <div>
                        <nav aria-label="Page navigation">
                            <ul class="pagination">
                                <f:for each="{pagination.allPageNumbers}" as="page">
                                    <li class="page-item">
                                        <f:link.action arguments="{currentPage:page, uid:error.uid}" action="view"
                                                       class="page-link {f:if(condition:'{currentPageNumber}=={page}',then:'active')}">
                                            {page}
                                        </f:link.action>
                                    </li>
                                </f:for>
                            </ul>
                        </nav>
                    </div>
                </div>
                <div role="tabpanel" class="tab-pane" id="DTM-errorlog-view-2">
                    <div class="mt-3">
                        <f:form.textarea class="form-control" rows="10"
                                         id="ai-question" name="ai-question" value="{AIPrompt}" />
                        <div class="pt-2">
                            <button type="button" class="p-2"
                                    data-caption="{f:translate(key: 'errors.ai_generate_again')}" id="ai-ask-button">
                                <f:translate key="errors.ai_generate"/>
                            </button>
                        </div>
                        <div class="mb-3 panel-body cke_dark_background" id="ai-response"></div>
                    </div>
                </div>
            </div>
        </f:then>
        <f:else>
            <f:render partial="Trace" arguments="{_all}"/>
        </f:else>
    </f:if>
</f:section>
</html>
